
*{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    
}

.myName{
    float:left;
    width:250px;
    height: 54px;
    text-align: center;
    color: white;
    background-color: cadetblue;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#aboutme h1{
    text-align: left;
    color: #4aaaa5;
    border-bottom: #666666 solid 2px;
}

ul{
    float: right;
}

li {
    display: inline;
    padding: 10px;
}

body{
    background-image: url("../images/leaves.png");
}

#container{
    width:960px;
    margin: 0 auto;


}

#header{
    border: 2px solid #cccccc;
    background-color: white;
    height: 100px;
}

#content{
    background-color: rgb(150, 10, 10);
}

#aboutme{
    border: 5px solid #dddddd;
    background-color: #ffffff;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    
}

#footer{
    background-color: #666666;
    width: 100%;
    border: 3px solid #4aaaa5;
    text-align: center;
    color: white;
}

p img{
    float:left;
    padding-left: 20px;
    width: 200px;
    height: 200px;
    padding-right: 16px;
}
#me{

    float: left;
}

form{
    text-align: left;
}

input[type=text], select{
    width: 90%;
    margin-left: 10px;
}
input[type=submit], select{
    background-color: #4aaaa5;
    color: white;
}

input[name=message], select{
    width: 90%;
    margin-left: 10px;
    height: 75px;
}

#icon{
    width: 144px;
    height: 150px;
    padding: 20px;
}

/* MEDIA QUERIES */

/* Below, you will find the required media queries to make the pages created in homework #1 more responsive.
   Using the mesuring extension that we were requested to add to Google Chrome, I did some rough mesurements,
   and adjusted the divs that control the page content to respond to the desired screen maximum widths of:
   980 px, 768 px and 640 px. An additional featured I added was to contrast these 3 different maximum-width
   sizes with different colored backgrounds so that you would know when the resizing effect for each maximum-
   width was in effect. At 640 px (background changes to Orange). At 768 px (background changes to Yellow),
   At 980 px (background changes to Maroon). */

@media screen and (max-width: 980px){
    #aboutme{
        width: 615px;        
    }
    p img{
        width: 201px;
        height: 168px;
    }
}

@media screen and (max-width: 768px){
    #aboutme{
        width: 713px;        
    }
    p img{
        width: 325px;
        height: 244px;
    }
    #content{
        background-color: yellow;
    }
}

@media screen and (max-width: 640px){
    #aboutme{
        width: 585px;        
    }
    p img{
        width: 525px;
        height: 375px;
    }
    #content{
        background-color: orange;
    }
}